{% extends 'base.html.twig' %}

{% block title %} List of categories{% endblock %}

{% block content %}
    <h1>Categories</h1>
    {% for category in categories %}
        <div>
            <a class="ref-show" href="{{ path("category_show", { categoryName: category.name }) }}">
                <h2>{{ loop.index }} - {{ category.name }} </h2>
            </a>
        </div>
    {% else %}
        Aucune série trouvée.
    {% endfor %}

    <div>
        <a class="ref-return" href="{{ path('category_new') }}">Créer une nouvelle catégorie </a>
    </div>
        <a class="ref-return" href="{{ path('app_index') }}">Retour à l'accueil </a>
    {% endblock %}
