{% extends 'base.html.twig'%}

{% block title %}{{ program.title }} Saisons {{ season.number }} {% endblock %}

{% block content  %}
    <div class="media">
        <img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
        <div class="media-body">
            <h1 class="mt-0">{{ program.title }} Saison {{ season.number }} </h1>
            <p>Sortie en {{ season.year }}</p>
            <ul>
                <li>{{ episode.number }} - {{ episode.title }}</li>
            </ul>
            <h2 class="mt-0">Résumé de l'épisode : </h2>
            <p class="mt-0">{{ episode.synopsis }} </p>
            <div>
                <a class="ref-return" href={{ path('program_season_show', { programSlug: program.slug, seasonId: season.id }) }}>Retour à la page saisons</a>
            </div>
        </div>
    </div>
    <div>
        <h3>Commentaires</h3>
        {% for comment in episode.comments %}
            <ul>
                <li>{{ comment.author.email }} - {{ comment.rate }} <br>
                    <th>{{ comment.comment }}</th>
                </li>
            </ul>
        {% else %}
            Pas de commentaire pour le moment
        {% endfor %}
    </div>

    {% if app.user %}
        <div class="media-body">
            <h3>Ajouter un commentaire</h3>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type='submit' value='Ajouter un commentaire'>
            {{ form_end(form) }}
        </div>
    {% endif %}



{% endblock %}