{% extends 'base.html.twig'%}

{% block title %}{{ program.title }} Saisons {{ season.number }} {% endblock %}

{% block content  %}
    <div class="media">
        <img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
        <div class="media-body">
            <h1 class="mt-0">{{ program.title }} Saison {{ season.number }} </h1>
            <p>Sortie en {{ season.year }}</p>
            <ul>
                <li>{{ episode.number }} - {{ episode.title }}</li>
            </ul>
            <h2 class="mt-0">Résumé de l'épisode : </h2>
            <p class="mt-0">{{ episode.synopsis }} </p>
            <div>
                <a class="ref-return" href={{ path('program_season_show', { programSlug: program.slug, seasonId: season.id }) }}>Retour à la page saisons</a>
            </div>
        </div>
    </div>
    <div>
        {% if app.user %}
            <div class="media-body">
                <h3>Ajouter un commentaire</h3>
                {{ include('comment/_form.html.twig') }}
            </div>
        {% endif %}

        {% for comment in episode.comments %}
            <ul>
                <li>{{ comment.author.email }} </li>
                    <i>{{ comment.rate }} . {{ comment.comment }}</i>
            </ul>
            {% if (is_granted('ROLE_ADMIN') or ((is_granted('ROLE_CONTRIBUTOR')) and (app.user.email == comment.author.email))) %}
                <div class="container-episode-show">
                        <a class="ref-show" href="{{ path('comment_edit', {id: comment.id}) }}">Editer</a>
                        {% include 'comment/_delete_form.html.twig' %}
                </div>
            {% endif %}

        {% else %}
            Pas de commentaire pour le moment
        {% endfor %}

    </div>

{% endblock %}