{% extends 'base.html.twig' %}

{% block title %}Tous les programmes{% endblock %}

{% block content %}
    <h1>Toutes les series</h1>
    <div class="container-search">
    {{ form_start(form) }}
    <div class="search">
    {{ form_widget(form) }}
        </div>
            <button class="btn-warning" id="btn-search">Search</button>
    </div>
    {{ form_end(form) }}
    
    {% for program in programs %}
        <div>
            <h2>{{ loop.index }} / {{ program.title }} - Catégorie : {{ program.category.name }}</h2>
            <p>{{ program.summary }}</p>
            <a class="ref-show" href="{{ path("program_show", { slug: program.slug }) }}">Voir la fiche</a>
        </div>
    {% else %}
        Aucune série trouvée.
    {% endfor %}

    <div>
    <a class="ref-show" href="{{ path('program_new') }}">Créer un nouveau programme</a>
    </div>

    <a class="ref-return" href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}