{% extends 'base.html.twig'%}

{% block title %}{{ program.title }} Saisons {{ season.number }} {% endblock %}

{% block content  %}
    <div class="media">
        <img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
        <div class="media-body">
            <h1 class="mt-0">{{ program.title }} Saison {{ season.number }}</h1>
            <h2 class="mt-0">Résumé saison :  </h2>
            <p class="mt-0">{{ season.description }}</p>

            <ul>
                {% for episode in episodes %}
                    <li>
                        <a class="ref-show" href="{{ path('program_episode_show',{programSlug: program.slug, seasonId: season.id, episodeSlug: episode.slug}) }}"> Episode {{ episode.number }}) : {{ episode.title }}</a>
                    </li>
                {% endfor %}
            </ul>
            <a class="ref-return" href="{{ path('program_show',{slug: program.slug}) }}">
                Retour à la liste des saisons
            </a>
        </div>
    </div>



{% endblock %}